/*!
 * ABRUPT éditions
 */
@charset "UTF-8";
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-bold-webfont.woff2') format('woff2'),
         url('fonts/crimson-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-italic-webfont.woff2') format('woff2'),
         url('fonts/crimson-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/crimson-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-roman-webfont.woff2') format('woff2'),
         url('fonts/crimson-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

::-moz-selection {
  color: #333333;
  background-color: rgba(255,0,0,1);
}

::selection {
  color: #333333;
  background-color: rgba(255,0,0,1);
}

body {
  font-family: "Crimson Text", Garamond, Georgia, Times, serif;
  color: #333333;
  background-color: #ffffff;
  quotes: '«\00A0' '\00A0»' "“" "”";
  letter-spacing: .01em;
  line-height: 1.6;
  width: 100%;
  /* font-size: 1.6rem; */
  /* font-size: calc(1rem + 1vw); */
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
@media (min-width: 90em) {
  body {
    font-size: 2.4rem;
  }
}

a {
  margin: 0 0;
  padding: 0 0;
  color: #333333;
	font-style: normal;
  text-decoration: none;
  border-bottom: none;
  height: 1.6em;
  text-indent: 0em;
  outline: none;
}
a:hover, a:focus, a:active {
  color: #333333;
  border-bottom: none;
  text-decoration: none;
  outline: none;
}

code {
  /* correction milligram */
  background: #eeeeee;
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: pre-wrap;
  /*ajout*/
  font-family: "Crimson Text", Garamond, Georgia, Times, serif;
}
pre {
  /* correction milligram */
  background: #eeeeee;
  border-left: 0.3rem solid #333333;
  overflow-y: hidden;
  /*ajout*/
  overflow-x: auto;
  width: 80%;
  /* white-space: pre-wrap; */
  /* overflow-wrap: break-word; */
  /* width: 100%; */
  /* width: auto; */
}
pre > code {
  /* correction milligram */
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  /* word-break: break-all; */
  /*ajout*/
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  width: 100%;
  outline: none;
}

figure {
  margin: 0;
  margin-bottom: 1.6em;
}

figcaption p {
  /* font-style: italic; */
  margin-top: 0;
  font-size: 1.5rem;
}

figure a {
  margin: 0 0;
  padding: 0 0;
  color: unset;
	font-style: normal;
  border-bottom: unset;
  height: 1.6em;
  text-indent: 0em;
}

figure a:hover, figure a:focus, figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}


em {
  font-style: italic;
}

p {
  margin-bottom: 1.6em;
}

p + h1, p + h2, p + h3 {
  margin-top: 1.6em;
}

h1, h2, h3 {
  letter-spacing: 0.01rem;
  margin: 1.6em 0 0;
  line-height: 1.6;
  font-size: inherit;
  /* font-style: italic; */
  font-style: normal;
  font-weight: normal;
}

h2 {
  margin: 0 0;
}

h3 {
  margin: 0 0;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em auto;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  /* Avec les espaces insécables */
  /* text-indent: -1.15em; */
  /* padding-left: 2.15em; */
  /* sans les espaces insécables */
}

ol {
  list-style: decimal outside;
  margin-left: 1em;
}

li {
  line-height: 1.6;
  margin: 0;
  /* list-style: none; */
  /* font-variant: small-caps; */
  /* text-decoration: none; */
}

.alignement-centre {
  text-align: center;
}

.alignement-droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.pasdesautdeligne {
  margin-bottom: 0;
}

.sautdeligne {
  margin-bottom: 1.6em;
}

.sautdeligneaudessus {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.footnotes {
  font-size: 0.8em;
}

.footnotes hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 3em auto 3em;
  padding: 0;
}

.footnote-ref a[href^="#fn:"] {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref a[href^="#fn:"]:hover,
.footnote-ref a[href^="#fn:"]:focus,
.footnote-ref a[href^="#fn:"]:active {
  color: #333333;
  text-decoration: none;
  outline: none;
}

.footnotes p:last-of-type {
  margin-bottom: 0em;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.footnote-back {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

/* Modifications spécifiques */
.conteneur {
  opacity: 0;
  transition: opacity 0.8s linear 1s;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    "header header"
    "left right";
  grid-gap: 1px;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.header {
  position: relative;
  background: #fff;
  grid-area: header;
  /* border-bottom: 2px solid #333; */
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colonne {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.colonne::-webkit-scrollbar {
  display: none;
}

.left {
  background: #fff;
  grid-area: left;
  /* border-right: 1px solid #333; */
}

.right {
  background: #fff;
  grid-area: right;
  /* border-left: 1px solid #333; */
}

.info {
  display: none;
}

.info a {
  border-bottom: 1px solid #333;
}

.info a:hover,
.info a:active,
.info a:focus {
  border-bottom: 1px solid #f00;
}

.info.show {
  display: block;
  background: #fff;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: span 2;
  z-index: 10;
  position: relative;
}

.timbre {
  border: 1px solid #333;
  padding: 1rem;
  transform: rotate(-90deg);
  position: absolute;
  top: 15%;
  margin: 0;
  right: 15%;
}

@media (max-width: 55em) {
  .conteneur {
    grid-template-rows: 20% 1fr;
    grid-template-columns: 50vw 50vw;
  }
}

@media (max-width: 30em) {
  .conteneur {
    grid-template-columns: 100vw;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas:
      "header"
      "left"
      "right";
  }

  .info.show {
    display: block;
    background: #fff;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: span 1;
  }

  .colonne {
    display: flex;
    flex-wrap: nowrap;
  }

  .colonne .photo {
    flex: 0 0 100vw;
  }

  .left {
    grid-area: left;
    border-right: none;
  }

  .right {
    grid-area: right;
    border-left: none;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity 0.6s linear 0.4s;
}
.loading p {
  position: absolute;
  font-size: 5em;
  color: #333333;
  margin: 0;
}
.loading p:last-child {
  font-size: 5em;
  animation: loadingFade 1s ease infinite;
}

.loaded .loading {
  opacity: 0;
  z-index: -1;
}
.loaded .conteneur {
  opacity: 1;
}

@keyframes loadingFade{
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.photo {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__lien {
  width: 80%;
  margin: 0;
  padding: 0;
  color: #333333;
	font-style: unset;
  text-decoration: none;
  border-bottom: unset;
  height: unset;
  text-indent: 0em;
  outline: none;
  &:hover, &:focus, &:active {
    background-color: unset;
    color: #333333;
    text-decoration: none;
    outline: none;
  }
}


button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 0;
}

.button {
  color: #333;
  cursor: pointer;
  margin: 1rem;
  padding: 0.2em;
  border: 1px solid #333;
}

.button:hover,
.button:active,
.button:focus {
  border: 1px solid #f00;
  outline: none;
}

